form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Agrega desplazamiento vertical si es necesario */
    max-height: 80vh; /* Limita la altura del formulario */
}

form .text-danger {
    font-size: 0.9em;
    color: #dc3545;
    margin-top: 2px; /* Espaciado superior reducido */
    margin-bottom: 5px; /* Espaciado inferior reducido */
    line-height: 1.2; /* Ajuste de altura de línea */
}


form .form-group {
    margin-bottom: 15px;
}

form .btn {
    margin-top: auto; /* Empuja el botón al final del formulario */
}


@media (max-width: 768px) {
    form {
        padding: 15px;
        width: 100%;
    }

    form .btn {
        height: 45px;
    }
}


.container {
    display: flex;
    flex-direction: column; /* Alinea el formulario verticalmente */
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 10px; /* Agrega padding para evitar que el contenido esté pegado a los bordes */
}
